{% include 'global-variables' %}

<div data-section-id="{{ section.id }}" data-section-type="size-guide">
  <section class="fit-section">
    <div class="fit-container">
      <div id="main-selector" class="fit-flex-row fit-options">
        <button class="fit-flex-column fit-option fit-option-fade" data-value="top">
          <img class="fit-option-image" src="https://cdn.shopify.com/s/files/1/0312/1385/files/bras_top-triangle_8c5a21a8-3102-4d99-895d-997da42aa323_40x.png">
          <span class="fit-option-label fit-option-bold">Tops</span>
        </button>
        <button class="fit-flex-column fit-option fit-option-fade" data-value="bottom">
          <img class="fit-option-image" src="https://cdn.shopify.com/s/files/1/0312/1385/files/bras_top-triangle_8c5a21a8-3102-4d99-895d-997da42aa323_40x.png">
          <span class="fit-option-label fit-option-bold">Bottoms</span>
        </button>
      </div>
    </div>
    <div class="fit-container">
      <span class="fit-title">Select region</span>
      <span id="names" class="fit-title fit-sub-title"></span>
      <div id="regions" class="fit-flex-row fit-options"></div>
    </div>
    <div class="fit-container">
      <span class="fit-title">Select size</span>
      <div id="sizes" class="fit-flex-row fit-options"></div>
    </div>
    <div class="fit-container fit-hide">
      <span class="fit-title">Select cup</span>
      <div id="cups" class="fit-flex-row fit-options"></div>
    </div>
    <div class="fit-container">
      <div class="fit-flex-column fit-results-size">
        <span id="fit-result" class="fit-result-title"></span>
        <span class="fit-result-label">Del Maar size</span>
      </div>
      <div class="fit-flex-column fit-results-measurements fit-hide">
        <span class="fit-result-label fit-hide"></span>
        <span class="fit-result-label fit-hide"></span>
      </div>
      <button class="fit-result-btn">need help?</button>
    </div>
  </section>
</div>

{% schema %}
  {
    "name": "Size Guide",
    "blocks": [
      {
        "type": "section",
        "name": "Section",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "QUESTION"
          },
          {
            "type": "page",
            "id": "page_content",
            "label": "Page content for the answer",
            "info": "Default page: 'Include FAQs Answer'"
          },
          {
            "type": "paragraph",
            "content": "OR ↓"
          },
          {
            "type": "textarea",
            "id": "answer",
            "label": "Answer"
          }, {
            "type": "checkbox",
            "id": "is_open",
            "label": "Is open",
            "default": true
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQs",
        "category": "3) Static content"
      }
    ]
  }
{% endschema %}}}}}}