{% include 'global-variables' %}

<div data-section-id="{{ section.id }}" data-section-type="size-guide">
  <section class="fit-section">
    <div class="fit-container">
      <div id="main-selector" class="fit-flex-row fit-options">
        <button class="fit-flex-column fit-option fit-option-fade" data-value="top">
          <i class="fit-option-image">{% render 'icon-theme-top' %}</i>
          <span class="fit-option-label fit-option-bold">Tops</span>
        </button>
        <button class="fit-flex-column fit-option fit-option-fade" data-value="bottom">
          <i class="fit-option-image">{% render 'icon-theme-bottom' %}</i>
          <span class="fit-option-label fit-option-bold">Bottoms</span>
        </button>
      </div>
    </div>
    <div class="fit-container">
      <span class="fit-title">Select region</span>
      <span id="names" class="fit-title fit-sub-title"></span>
      <div id="regions" class="fit-flex-row fit-options"></div>
    </div>
    <div class="fit-container">
      <span class="fit-title">Select size</span>
      <div id="sizes" class="fit-flex-row fit-options"></div>
    </div>
    <div class="fit-container fit-hide">
      <span class="fit-title">Select cup</span>
      <div id="cups" class="fit-flex-row fit-options"></div>
    </div>
    <div class="fit-container">
      <div class="fit-flex-column fit-results-size">
        <span id="fit-result" class="fit-result-title"></span>
        <span class="fit-result-label">Del Maar size</span>
        <a id="fit-customized" class="fit-result-label fit-hide" href="/pages/customized">Ask for our customized service</a>
      </div>
      <div id="fit-measurement" class="fit-flex-column fit-hide"></div>
    </div>
  </section>
</div>

{% schema %}
{
"name": "Size Guide",
"presets": [
{
"name": "Size Guide",
"category": "3) Static content"
}
]
}
{% endschema %}