/* START OF "Default Button Variants" */
.product-options__section .product-options__value,
.product-options__section[data-disable-auto-select] .product-options__value.active {
  background-color: var(--product-options-bd);
  border-color: var(--product-options-bd) !important;
  border-radius: 100%;
  aspect-ratio: 1;
  color: var(--button3-h-c);
  transition-duration: var(--animation-css-low-duration);
  transition-property: background-color,border-color,color,font,background-image;
  flex: 1 1 0px;
  max-width: 43px;
  max-height: 43px;
}
.product-options__section .product-options__value:hover,
.product-options__section[data-disable-auto-select] .product-options__value.active:hover,
.product-options__section:not([data-disable-auto-select]) .product-options__value.active{
  background-color: var(--button3-bg);
  border-color: var(--button3-bd) !important;
  color: var(--button3-c);
}
.product-options__section .product-options__value.disabled-hidden > span:before,
.product-options__section .product-options__value.disabled-hidden > span:after {
  display: none;
}
.product-options__section .product-options__value.disabled-hidden {
  opacity: 0.5;
}
/* END OF "Default Button Variants" */

/* START OF "Image Button Variants" */
.product-options__section[data-property="bottomcoverage"] .product-options__value,
.product-options__section[data-property="bottomcoverage"][data-disable-auto-select] .product-options__value.active {
  flex-direction: column;
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
  text-align: center;
  word-spacing: 99999px;
  line-height: 14px;
  justify-content: end !important;
  padding-bottom: 4px;
}

.custom-image-svg {
  -webkit-transition: var(--animation-css-low-duration) -webkit-filter ease;
  -moz-transition: var(--animation-css-low-duration) -moz-filter ease;
  -moz-transition: var(--animation-css-low-duration) filter ease;
  -ms-transition: var(--animation-css-low-duration) -ms-filter ease;
  -o-transition: var(--animation-css-low-duration) -o-filter ease;
  transition: var(--animation-css-low-duration) filter ease, var(--animation-css-low-duration) -webkit-filter ease;
  margin-bottom: 2px;
  fill: var(--button3-h-c);
}

.product-options__section[data-property="bottomcoverage"] .product-options__value:hover .custom-image-svg,
.product-options__section[data-property="bottomcoverage"][data-disable-auto-select] .product-options__value.active:hover .custom-image-svg,
.product-options__section:not([data-disable-auto-select]) .product-options__value.active .custom-image-svg{
  fill: var(--button3-c);
}
/* END OF "Image Button Variants" */

/* END OF "Gift Card Variants" */
#gift-card .product-options__value{
  max-width: 90px;
  border-radius: 30px;
}
/* END OF "Gift Card Variants" */

/* START OF "Custom Classes" */
.custom-padding {
  padding: 0 30px;
}
.custom-remove-margin {
  margin-top: -30px;
}
.custom-pre-date {
  margin: 5px 0 0 0;
  color: var(--button3-h-c);
  text-align: center;
}
.custom-size-text {
  text-align: justify;
  font-size: 15px;
}
.custom-size-text-l {
  text-align: justify;
  font-size: 20px;
}
.custom-size-text-XL {
  text-align: justify;
  font-size: 32px;
}

/* END OF "Custom Classes" */

/* START OF "Fixes" */
.tabs__content ul {
  padding: 20px;
  list-style: disc;
}
.tabs__content li {
  padding-left: 5px !important;
}
.tabs__content li::before {
  content: none !important;
}
.tabs__content a,
.tabs__content span {
  white-space: pre-wrap;
}
.menu__grid.menu__list.menu__level-02.row {
  justify-content: center;
}
.slick-slider {
  touch-action: auto !important;
  -ms-touch-action: auto !important;
}
.header__logo {
  padding: 10px 0;
}
.collection-control__button-sidebar i {
  display: none;
}
.collection-control__button-sidebar span {
  display: none;
}
.collection-control__button-sidebar {
  border: 1px solid var(--button-bd);
  border-radius: 30px;
  padding: 7px 15px
}
#gift-card .product-page-info__labels {
  display: none !important;
}
#gift-card .product-page-info__description {
  margin-bottom: 0 !important;
}
#gift-card .product-page-info__description p:last-of-type{
  margin-bottom: 0 !important;
}
body:not(#gift-card) .product-page-info__description {
  display: none !important;
}
.menu__item {
  text-transform: uppercase;
}
.header__tape {
  background-color: var(--theme12) !important;
}
.header__tape .icon {
  fill: var(--header-tape-c) !important;
}
.slider__prev .icon,
.slider__next .icon {
  transition-duration: var(--animation-css-low-duration);
  transition-property: all;
  fill: var(--slider-arrows-h-c) !important;
}
.slider__prev:hover .icon,
.slider__next:hover .icon {
  fill: var(--theme12) !important;
}
.slider .slick-dots li {
  transition-duration: var(--animation-css-low-duration);
  transition-property: all;
  background-color: var(--slider-bullets-h-bg) !important;
}
.slider .slick-dots li:hover {
  background-color: var(--theme12) !important;
}
/* END OF "Fixes" */

/* START OF "Size Guide" */
.fit-hide {
  display: none;
}
.fit-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fit-flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fit-section {
  width: 100%;
  max-width: 350px;
  margin: auto;
}
.fit-container {
  width: 100%;
}
.fit-options {
  width: 100%;
  margin-bottom: 20px;
}
.fit-results-size {
  margin-bottom: 20px;
}
.fit-title {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
  display: block;
}
.fit-sub-title {
  font-size: 12px;
  line-height: 18px;
  margin-top: -5px;
  font-weight: 700;
}
.fit-option-bold {
  font-weight: 700;
}
.fit-option-label {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}
.fit-option-image {
  width: 100%;
  height: auto;
  max-width: 40px;
}
.fit-option-image svg {
  width: 100%;
}
.fit-option {
  padding: 10px 15px;
  transition: 0.1s all ease;
  background: transparent;
  border: none;
  cursor: pointer;
}
.fit-option:focus {
  outline: none;
}
.fit-option-line {
  border-bottom: 1px solid transparent;
}
.fit-option-line:hover,
.fit-option-line-active {
  border-color: black;
}
.fit-option-fade {
  opacity: 0.3;
}
.fit-option-fade:hover,
.fit-option-fade-active {
  opacity: 1;
}
.fit-result-title {
  font-size: 28px;
  line-height: 30px;
  font-weight: 700;
}
.fit-result-title {
  font-size: 28px;
  line-height: 30px;
  font-weight: 700;
}
.fit-result-label {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}
/* END OF "Size Guide" */